@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.wrapper {
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
    box-shadow: 2px 4px 5px 3px #3e4a47;
    padding: 10px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    border-radius: 20px;
}

.search_box {
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 45px;
    background-color: #eeee;
    padding: 12px;
    border-radius: 25px;
    color: red;
    font-size: 1.3rem;
    margin-right: 10px;

}

.fa-magnifying-glass {
    margin-right: 8px;
}

input {
    color: #487693;
    font-weight: 700;
    font-size: 1rem;
    margin-right: 14px;
    width: 60%;
    padding: 15px 15px;
    border-radius: 22px;
    outline: none;
    border: none;
    background-color: #eeee;
}


.content {
    max-width: 180px;
    margin: 0 auto;
    color: white;
}

img {
    margin-top: 10px;
    width: 100%;
    object-fit: contain;
}

.degree_city {
    line-height: 70px;
}

.degree_city h1 {
    font-size: 5rem;
    font-weight: 500;
}

.degree_city h2 {
    font-size: 2rem;
    font-weight: 500;
}


.bottom_data {
    margin-top: 18px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
}

.left,
.right {
    display: flex;
    width: 50%;
    align-items: center;
}

.left h2,
.right h2 {
    font-size: 1.5rem;
}

.left p,
.right p {
    font-size: 0.9rem;
}

.left img,
.right img {
    width: 50px;
    margin-right: 5px;
}

.error {
    width: 80%;
    margin-top: 15px;
    object-fit: contain;
}

.bg {
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.rain {
    background: url('https://media.giphy.com/media/Mgq7EMQUrhcvC/giphy.gif?cid=ecf05e47qgwpmoccszxheuzeb7f2puimny6y4bihvs3pmpbn&ep=v1_gifs_search&rid=giphy.gif&ct=g');
}
.thunderstorms{
    background: url('https://giphy.com/clips/storyful-lightning-storm-alabama-0njuIa6SDmr04G9N9f');
}
.drizzle{
    background: url('https://giphy.com/gifs/justin-g-rain-drizzle-xT9GEOg09OuResnZ6g');
}
.snow{
    background: url('https://media2.giphy.com/media/26FL4IWDUYp0y6kTK/200.webp?cid=790b7611rp6ej6wz40bxdnft7whfvve7hh3134pkto0ghmx6&ep=v1_gifs_search&rid=200.webp&ct=g');
}
.cloudy{
    background: url('https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNGtlMGh1cm55MTg3ajF4Y2x0ZHY0ZHZiZHF2NWEyNjFpZGlyNmJyNSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/CafqXRlBVvEqMchF1m/giphy.gif');
}
.clouds{
    background: url('https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExN3o0M256OGc4cW4wdnd0MGx6cW9ndXcwczU0OTV3N3J0ZXk5bW41cCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/KwZoSJlvep6Vy/giphy.gif');
}
.sun{
    background: url('https://media.giphy.com/media/zsiR9zVOwzhHe42GbE/giphy.gif?cid=ecf05e470fky7wl9o5fi9ch9o5v4m4iqajzqhrombjcitgtp&ep=v1_gifs_search&rid=giphy.gif&ct=g');
}
@media screen and (max-width: 480px) {

    .left h2,
    .right h2 {
        font-size: 1rem;
    }

    .left p,
    .right p {
        font-size: 0.8rem;
    }
}